<div class="row-fluid" ng-controller="LandingController as lc">
  <h2>Developers</h2>
  <div class="col-md-3 semi-bg text-center">
    <p><img class="landing-icon" src="assets/img/icon.png"/><p>
      <p class="icon-description">Duis commodo ex at nisl facilisis, eu ultrices ligula sagittis. Quisque vitae fringilla ligula, eu porta lectus. Nullam ac vehicula arcu. Donec dictum nibh ac nunc sodales dictum. </p>
  </div>
  <div class="col-md-3 semi-bg text-center">
    <p><img class="landing-icon" src="assets/img/icon.png"/><p>
      <p class="icon-description">Duis commodo ex at nisl facilisis, eu ultrices ligula sagittis. Quisque vitae fringilla ligula, eu porta lectus. Nullam ac vehicula arcu. Donec dictum nibh ac nunc sodales dictum. </p>
  </div>
  <div class="col-md-3 semi-bg text-center">
    <p><img class="landing-icon" src="assets/img/icon.png"/><p>
      <p class="icon-description">Duis commodo ex at nisl facilisis, eu ultrices ligula sagittis. Quisque vitae fringilla ligula, eu porta lectus. Nullam ac vehicula arcu. Donec dictum nibh ac nunc sodales dictum. </p>
  </div>
  <button ng-click="lc.pay()">Pay 10 bucks right now</button>
  <button ng-click="lc.login()">Login</button>
</div>
