<div class="row">
  <div class="col-md-4 text-center">
    <div class="padding semi-bg">
      <img class="landing-icon" src="assets/img/icon.png"/>
      <p>Our service allows to discover the conditions of the roads you're willing to go over. Get an exact approach of the traffic jams, possible accidents and weather phenomena</p>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="padding semi-bg">
      <img class="landing-icon" src="assets/img/icon.png"/>
        <p>For only 10USD, access to all our beacons information by using our API</p>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="padding semi-bg">
      <img class="landing-icon" src="assets/img/icon.png"/>
        <p>Phrase 1.<br/>Phrase 2</p>
    </div>
  </div>
</div>
